<img class="image_url" src=<%= book.image_url %> alt="">
<h2 class='title' data-id="<%= book.id %>"><%= book.title %> </h2>
<h3 class='author'><%= book.author %> </h3>
<p class='isbn'><%= book.isbn %></p>
<% if(book.bookshelf) { %>
<p class='bookshelf'><%= book.bookshelf %></p>
<% } %>
<p class='description'><%= book.description %></p>