<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../../layout/head %>
    <title>Book Details</title>
</head>

<body>
    <header>
        <%- include ../../layout/header %>
    </header>

    <%- include('../books/edit', {method: 'PUT', id: book.id}) %>

    <main>
        <div class="book">
            <%- include('./detail', {book: book}) %>
            <button class='select-book'>Update Details</button>
        </div>
    </main>

    <footer>
            <%- include ../../layout/footer %>
    </footer>

</body>

</html>