<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/6454e26792.js"></script>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/icons.css">

    <title>Search Results</title>
</head>

<body>
    <div class="dark"></div>
    <header>
        <% include ../../layout/header %>
    </header>

    <section>
        <form action="/book" method="POST" id="addBookForm">
            <p class="closeWindow">X</p>
            <input class='title' type="text" name="addBook" value="title">
            <input class='author' type="text" name="addBook" value="author">
            <input class='isbn' type="text" name="addBook" value="isbn">
            <input class="image_url" type="text" name="addBook" value="image_url">
            <textarea class='description' cols="30" rows="15" name="addBook"></textarea>
            <input class='bookshelf' type="text" placeholder="Enter a Bookshelf Name" name="addBook" value="bookshelf" required>
            <button type='submit'>Add To Database</button>
        </form>
    </section>
    <main>
        <h2>Search Results</h2>

        <ol>
            <% searchResults.forEach((book,index) =>{ %>
            <li data-id=<%= index %> >
                <img class="image_url" src=<%= book.image_url %> alt="">
                <h2 class='title'><%= book.title %> </h2>
                <h3 class='author'>By: <%= book.author.join(', ') %> </h3>
                <p class='isbn'><%= book.isbn %></p>
                <!-- <p class='bookshelf'><%= book.bookshelf %></p> -->
                <p class='description'><%= book.description %></p>
                <button class='select-book' data-id=<%= index %> >Select This Book</button>
            </li>
            <% }) %>
        </ol>

    </main>

    <footer>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="./js/app.js"></script>
    </footer>
</body>

</html>