<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/6454e26792.js"></script>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/icons.css">

    <title>Search Results</title>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <h2>Search Results</h2>
        <ol>
            <% searchResults.forEach(book =>{ %>
            <li>
                <img src=<%= book.image_url %> alt="">
                <h2> <%= book.title %> </h2>
                <h3>By: <%= book.author.join(', ') %> </h3>
                <p><%= book.isbn %></p>
                <p><%= book.bookshelf %></p>
                <p><%= book.description %></p>
                <button action="/add">Select This Book</button>
            </li>
            <% }) %>

        </ol>
    </main>
</body>

</html>