<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../layout/head %>
  <title>Book App</title>
</head>

<body>

  <header>
    <%- include ../layout/header %>
  </header>

  <main>

    <h2> <%= totalBooks %> Saved Books</h2>
    <ol>
      <% collection.forEach(book =>{ %>
      <li>
        <%- include('./books/detail', {book: book}) %>
        <a href='/book/<%= book.id%>'>View Details</a>
      </li>
      <% }) %>
    </ol>


  </main>

</body>

</html>